.contact-fel {
  margin-top: 10%;
  position: relative;
  z-index: -1000;
}

.contact-image {
  position: relative;
  width: 100%;
}
.contact-image img {
  width: 100%;
}

.contact-info {
  /* z-index: 10; */
  /* display: block; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: var(--bg-color);
  position: absolute;
  width: 20rem;
  height: 2rem;
  padding: 0 0.5rem 0 0.5rem;
  margin-left: 5%;
  font-weight: bold;
  font-size: 1.5rem;
  /* line-height: 28px; */
  top: 13rem;
}
.contact-name {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
  color: white;
  position: absolute;
  width: 9rem;
  height: 4rem;
  padding: 0.5rem;
  margin-left: 5%;
  font-weight: bold;
  font-size: 2rem;
  /* line-height: 56px; */
  top: 15rem;
  /* top: 238px; */
}
.contact-us {
  position: absolute;
  /* padding:  8px 19.5px 8px ; */
  /* font-weight: bold;
  font-size: 24px;
  line-height: 28px;*/
  text-transform: uppercase;
  font-size: 24px;
  border: solid 0.15rem;
  border-color: var(--color-secondary);
  width: 17rem;
  height: 4rem;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  cursor: pointer;
}
