.cursor {
  z-index: -11;
  width: 0px;
  height: 60px;
  border: 1px var(--color-third);
  border-radius: 100%;
  background-color: var(--color-third);
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  pointer-events: none;
}

.cursoreffect {
  content: "";
  width: 50px;
  height: 50px;
  border: 10px solid 0 0 7px #82e299, 0 0 10px #82e299, 0 0 21px #82e299,
    0 0 42px #82e299, 0 0 82px #82e299, 0 0 92px #82e299, 0 0 102px #82e299,
    0 0 151px #82e299;
  box-shadow: 0 0 7px #82e299, 0 0 10px #82e299, 0 0 21px #82e299,
    0 0 42px #82e299, 0 0 82px #82e299, 0 0 92px #82e299, 0 0 102px #82e299,
    0 0 151px #82e299;
  border-radius: 100%;
  background-color: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  color: #fff;

  position: absolute;
  -webkit-animation: cursorPulse 1s;
  content: "";
  width: 50px;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: cursorPulse 1s;
}

@-webkit-keyframes cursorPulse {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(3);
    opacity: 0;
  }
}
