@font-face {
  font-family: "Space Grotesk Bold";
  src: url("SpaceGrotesk-Bold.woff2") format("woff2"),
    url("/fonts/SpaceGrotesk-Bold-export/SpaceGrotesk-Bold.woff2")
      format("woff"),
    url("/fonts/SpaceGrotesk-Bold-export/SpaceGrotesk-Bold.woff")
      format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Space Grotesk Regular";
  src: url("SpaceGrotesk-Regular.woff2") format("woff2"),
    url("/fonts/SpaceGrotesk-Regular-export/SpaceGrotesk-Regular.woff")
      format("woff"),
    url("/fonts/SpaceGrotesk-Regular-export/SpaceGrotesk-Regular.woff2")
      format("opentype");
  font-style: normal;
  font-weight: 400;
}
