footer {
  padding-bottom: 48px;
  background-color: var(--color-secondary);
}

.footer-menu {
  display: flex;
  flex-direction: column;
  width: 10em;
  height: 174px;
  justify-content: space-between;
  text-decoration: none;
  margin-left: 18px;
  padding-top: 96px;
}

.footer-link {
  line-height: 42px;
  font-size: 36px;
  text-decoration: none;
  color: white;
}

.footer-wrapper {
  width: 259px;
  height: 271px;
  margin: 127px 0px 0px 18px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer-logo img {
  width: 154px;
  height: 89px;
}

.footer-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 169px;
  height: 50px;
  margin: 56px 0px 56px 8px;
}

.footer-icon img {
  width: 40px;
  height: 40px;
}

.footer-copyright {
  color: white;
}
