:root {
  --font-bold: Space Grotesk Bold;
  --font-regular: Space Grotesk Regular;

  --color-primary: black;

  --bg-color: #000000;
  --color-secondary: #500cf5;
  --color-third: #82e299;
  --gradient-nav: -webkit-linear-gradient(
    180deg,
    #500cf5 0%,
    #82e299 99.99%,
    rgba(123, 124, 132, 0) 100%
  );
  --slidshow-one: linear-gradient(270deg, #82e09b 14.35%, #635bd4 90.08%);
  --slideshow-two: linear-gradient(270deg, #82e09b 14.35%, #fe8d87 90.08%);
}

body {
  background-color: var(--color-primary);
  position: relative;
  margin: 0px;
  padding: 0px;
  /* height: auto; */
  font-family: var(--font-bold);
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

img {
  display: block;
}
