:root {
  --font-bold: Space Grotesk Bold;
  --font-regular: Space Grotesk Regular;

  --color-primary: black;
}

body {
  background-color: var(--color-primary);
  position: relative;
  margin: 0px;
  padding: 0px;
  /* height: auto; */
  font-family: var(--font-bold);
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

img {
  display: block;
}
