.hero {
  width: 343px;
  height: 213px;
  margin: 136px 17px 136px 16px;
  padding: 0;
}
.heroText {
  color: white;
  font-weight: bold;
  font-size: 61px;
  line-height: 71px;
}
.heroText h1 {
}
.rolling-text {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}
.slide-left {
  width: 100%;
  overflow: hidden;
  margin-bottom: 176px;
}
.message {
  animation: slide-left 10s linear infinite;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: white;
}

@keyframes slide-left {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
  }
}
