.info-section {
  margin: 0px 5% 0px 5%;
  position: relative;
}
.info-content {
  position: relative;
}

.info-image img {
  width: 100%;
}
.what-is {
  z-index: 10;
  display: block;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: white;
  position: absolute;
  width: 6rem;
  height: 28px;
  padding: 0px 8px 0px 8px;
  font-family: var(--font-regular);
  font-size: 24px;
  /* line-height: 28px; */
  top: 332px;
}
.wrong {
  /* display: block; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  height: 86px;
  padding: 8px;
  font-family: var(--font-regular);
  font-weight: lighter;
  font-size: 2rem;
  line-height: 3rem;
  top: 360px;
  background-color: var(--color-secondary);
}
.info-text {
  display: flex;
  padding: 20% 5% 20% 5%;
  background-color: white;
  font-size: 18px;
  line-height: 1.5rem;
  font-family: var(--font-second);
  font-weight: lighter;
}
.info-text p {
  margin: 0;
}

/* kolla över knappar */
/* .info-button {
  position: absolute;
  font-family: var(--font-bold);
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  border: solid 2px;
  border-color: black;
  background-color: white;
  bottom: 56px;
  left: 91.5px;
  width: 160px;
  height: 42px;
  cursor: pointer;
} */
