.lab-section {
  margin: 94px 5% 0px 5%;
  position: relative;
  z-index: -1000;
}
.lab-content {
  /* position: relative;
    z-index: -1000; */
}
.lab-image {
}
.lab-image img {
  min-height: 400px;
  width: 100%;
}
.lab-year {
  z-index: 10;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: absolute;
  width: 72px;
  height: 28px;
  padding: 0px 8px 0px 8px;
  font-family: var(--font);
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  top: 332px;
}
.lab-01 {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7b7c84;
  color: white;
  position: absolute;
  width: 173px;
  height: 72px;
  padding: 8px;
  font-family: var(--font-bold);
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  top: 360px;
}
.info-text {
  display: flex;
  margin-top: 0px;
  padding: 56px 32px 122px 32px;
  background-color: white;
  font-size: 18px;
  line-height: 21px;
  font-family: var(--font-bold);
}
.info-text p {
  margin: 0;
}
.info-button {
  position: absolute;
  font-family: var(--font-bold);
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  border: solid 2px;
  border-color: black;
  background-color: white;
  bottom: 56px;
  left: 91.5px;
  width: 160px;
  height: 42px;
  cursor: pointer;
}
