.lab-section {
  margin: 10% 5% 0 5%;
  position: relative;
}
/* .lab-content { */
/* position: relative;
    z-index: -1000; */
/* } */
/* .lab-image {
} */
.lab-image img {
  min-height: 400px;
  width: 100%;
}
.lab-year {
  z-index: 1;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: absolute;
  width: 72px;
  height: 28px;
  padding: 0px 8px 0px 8px;
  font-family: var(--font-regular);
  font-weight: lighter;
  font-size: 24px;
  line-height: 28px;
  top: 332px;
}
.lab-01 {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7b7c84;
  color: white;
  position: absolute;
  width: 173px;
  height: 72px;
  padding: 8px;
  font-family: var(--font-regular);
  background-color: var(--color-secondary);
  font-weight: lighter;
  font-size: 48px;
  line-height: 56px;
  top: 360px;
  z-index: 1;
}
.info-text-lab {
  display: flex;
  margin-top: 0px;
  /* padding: 56px 32px 122px 32px; */
  padding: 20% 5% 40% 5%;
  background-color: white;
  font-size: 18px;
  line-height: 1.5rem;

  font-family: var(--font-second);
  font-weight: lighter;
}
.info-text-lab p {
  margin: 0;
}
.info-button {
  position: absolute;
  font-family: var(--font-regular);
  font-weight: lighter;
  font-size: 24px;
  line-height: 28px;
  border: solid 2px;
  border-color: var(--color-secondary);
  background-color: white;
  bottom: 56px;
  left: 20%;
  width: 12rem;
  height: 3rem;
  cursor: pointer;
}
