@media only screen and (min-width: 1024px) {
  .navbar {
    width: 100%;
    padding: 0 10% 0 10%;
  }
  .burger-menu {
    margin-top: 4em;
    /* margin: 64px 1283px 4145px 111px; */
  }

  .logo img {
    width: 10em;
  }

  /* .heroText {
    width: 1127px;
    height: 282px;
    margin: 134px 152px 490px 111px;
    font-weight: normal;
    font-size: 115px;
    line-height: 141px;
    letter-spacing: -0.015em;
    font-family: var(--font-regular);
  } */

  .message {
    /* font-size: 120px; */
  }

  .hero-title {
    color: white;
    font-size: 3.5em;
    line-height: 2em;
    padding: 3em 0 0 10%;
  }
  .rolling-text {
    /* position: fixed; */
    margin-bottom: 33px;
  }
  .nav-menu.active {
    right: 0;
  }

  .nav-menu {
    width: 45%;
    /* right: -100%; */
  }
  /* sections */
  .what-is {
    left: 55%;
    top: 79px;
    width: 7rem;
    height: 4rem;
    font-size: 2rem;
  }
  .wrong {
    left: 55%;
    top: 19%;
    width: 35rem;
    font-size: 3rem;
    justify-content: left;
  }
  .info-text {
    left: 57%;
    top: 230px;
    width: 28rem;
    height: 13rem;
    position: absolute;
  }
  /* .info-button {
    top: 70%;
    left: 65%;
  } */
  /* images */
  .info-image {
    width: 900px;
    height: 750px;
  }

  .story-image {
    width: 900px;
    height: 750px;
    right: 0%;
  }
  .lab-image {
    width: 900px;
    height: 750px;
  }
  .contact-image {
    width: 100%;
  }
  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 10% 0 10%;
  }
  .footer-menu {
    flex-direction: row;
    width: 30em;
    height: 10em;
    margin: 0;
  }

  .footer-wrapper {
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 10em;
    margin: 0;
  }
  .footer-media {
    flex-wrap: wrap;
  }
  .footer-copyright {
    white-space: nowrap;
    font-size: 0.8em;
  }
  .footer-icon {
    margin-left: 1em;
    margin-bottom: 2em;
  }
}
