.navbar {
  background-color: red;
  /* width: 90%; */
  display: flex;
  justify-content: space-between;
  padding: 0 5% 0 5%;

  /* position: relative; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* padding: 1rem; */
  /* background-color: transparent; */
}
.logo {
  margin-top: 3em;
  /* transform: translate(-46.5px); */
  /* margin-left: 50%; */
  /* font-size: 1rem; */
  /* margin: 1rem; */
  /* margin-left: 40%; */
  /* margin-left: 141px; */
  /* margin-top: 52px; */
  /* text-transform: uppercase; */
  /* z-index: 1; */
}
.burger-menu {
  /* display: block; */
  cursor: pointer;
  /* position: absolute; */
  margin-top: 3em;
  /* margin-left: 16px; */
  z-index: 10;
}

.burger-menu.active .bar-first:nth-child(1) {
  transform: translateY(5px) translateX(-1px) rotate(-45deg);
  width: 14px;
}

.burger-menu.active .bar-second:nth-child(2) {
  transform: translateY(1px) translateX(1px) rotate(45deg);
  width: 29px;
}

.burger-menu.active .bar-third:nth-child(3) {
  transform: translateY(-4px) translateX(3px) rotate(-45deg);
  width: 14px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* the line in the hamburger */
.bar-first {
  display: block;
  width: 15px;
  height: 3px;
  margin: 0px 0px 7px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-third);
}
.bar-second {
  display: block;
  width: 30px;
  height: 3px;
  /* margin: 7px; */
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-third);
}
.bar-third {
  display: block;
  width: 15px;
  height: 3px;
  margin: 7px auto 0px 0px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-third);
}
/* the slide-box with all the nav links */
.nav-menu {
  height: 100vh;
  /* display: flex;
  flex-direction: column;*/
  position: fixed;
  right: -150%;
  top: 0;
  background: var(--gradient-nav);
  width: 100%;
  transition: 0.5s;
  /* margin: 0; */
  z-index: 10;
  /* overflow-x: hidden; */
}

.nav-menu.active {
  height: 100vh;
  position: fixed;
  right: 0;
}
.link-menu {
  display: flex;
  flex-direction: column;
  margin: 7em 0 0 1em;
  /* width: 310px;
  height: 340px;
  margin: 157px 116px 123px 16px; */
}

.nav-link {
  font-size: 72px;
  line-height: 84px;
  margin-bottom: 0.5em;
  color: white;
}

.media-icon-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 15em;
  margin: 3em 0 0 1em;
}

.media-icon {
  margin: 0.5em;
  /* height: 56px; */
}

.language-wrapper {
  display: flex;
  flex-direction: row;
  width: 16em;
  margin: 2em 0 0 1em;
  justify-content: space-between;
}

.language-item {
  color: white;
  font-size: 4em;
  line-height: 84px;
}

.nav-link:hover {
  text-decoration: underline;
}
/*Make the menu come out*/
