.story-section {
  margin: 94px 16px 0px 16px;
  position: relative;
  z-index: -1000;
}
.story-content {
  /* position: relative;
      z-index: -1000; */
}
.this-is {
  z-index: 10;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: absolute;
  width: 102px;
  height: 28px;
  padding: 0px 8px 0px 8px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  top: 332px;
}
.our-story-headline {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7b7c84;
  color: white;
  position: absolute;
  width: 205px;
  height: 72px;
  padding: 8px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  top: 360px;
}
