.story-section {
  margin: 10% 5% 0 5%;
  position: relative;
}

.story-image img {
  width: 100%;
}
.this-is {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: absolute;
  width: 7rem;
  height: 28px;
  padding: 0px 8px 0px 8px;
  font-family: var(--font-regular);
  font-weight: lighter;
  font-size: 24px;
  line-height: 28px;
  top: 332px;
}
.our-story-headline {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  width: 15rem;
  height: 72px;
  font-family: var(--font-regular);
  background-color: var(--color-secondary);
  font-weight: lighter;
  font-size: 48px;
  line-height: 56px;
  top: 360px;
  z-index: 1;
}

.info-button-story {
  position: absolute;
  font-family: var(--font-second);
  font-weight: 100;
  font-size: 1.8rem;
  line-height: 1.5rem;
  border: solid 2px;
  border-color: var(--color-secondary);
  background-color: white;
  bottom: 4rem;
  left: 20%;
  width: 12rem;
  height: 3rem;
  cursor: pointer;
  z-index: 1;
}
.story-text {
  display: flex;
  padding: 15% 5% 40% 5%;
  background-color: white;
  font-size: 18px;
  line-height: 1.5rem;
  font-family: var(--font-second);
  font-weight: lighter;
}
