@media only screen and (min-width: 1024px) {
  .info-section {
    margin: 0;
    margin-top: 5%;
  }
  .what-is {
    left: 45%;
    top: 20%;
    width: 11rem;
    height: 4rem;
    font-size: 3rem;
  }
  .wrong {
    right: 0;
    top: 29.5%;
    width: 47rem;
    height: 5rem;
    font-size: 4rem;
    justify-content: left;
    font-size: 4rem;
  }
  .info-text {
    left: 55%;
    top: 41.5%;
    width: 33rem;
    padding: 2rem;
    height: 20rem;
    line-height: 1.5rem;
    position: absolute;
  }
  .info-image {
    width: 900px;
    margin: 0;
  }
}
