@media only screen and (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 10% 0 10%;
  }
  .footer-menu {
    flex-direction: row;
    width: 20em;
    height: 10rem;
    margin: 0;
    padding-top: 3rem;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 10rem;
    margin: 0;
  }
  .footer-media {
    flex-wrap: wrap;
    margin: 0 0 0 0;
  }
  .footer-copyright {
    white-space: nowrap;
    font-size: 0.8em;
    margin-top: 1rem;
  }
  .footer-icon {
    margin-left: 1em;
    margin-bottom: 2em;
  }
}
