@media only screen and (min-width: 1024px) {
  .lab-section {
    margin: 0;
    right: 0;
  }
  .lab-image {
    width: 900px;
    margin-left: 37%;
  }

  .info-text-lab {
    left: 20%;
    top: 223px;
    width: 33rem;
    padding: 2rem;
    height: 20rem;
    position: absolute;
    line-height: 1.5rem;
    font-weight: lighter;
  }
  .lab-year {
    left: 15%;
    top: 100px;
    font-size: 3rem;
    width: 8rem;
    height: 3rem;
  }

  .lab-01 {
    left: 15%;
    top: 150px;
    background-color: var(--color-secondary);
    font-size: 4rem;
    width: 14rem;
  }
  .info-button {
    left: 33%;
    top: 425px;
    cursor: pointer;
    color: red;
    border-style: solid red;
    box-shadow: solid red;
    border: solid red;
    z-index: 1;
  }
  .info-button:hover {
    border-style: dashed red;
    box-shadow: dashed red;
    border: dashed red;
    z-index: 1;
  }
}
