@media only screen and (min-width: 1024px) {
  .hero-title {
    color: white;
    font-size: 3.5em;
    line-height: 2em;
    padding: 3em 0 0 10%;
  }
  .rolling-text {
    /* position: fixed; */
    margin-bottom: 33px;
  }
}
