@media only screen and (min-width: 1024px) {
  .story-section {
    margin: 0;
    padding: 0;
  }
  .story-image {
    width: 900px;
  }
  .this-is {
    left: 51%;
    top: 22.4%;
    width: 13rem;
    height: 4rem;
    font-size: 3rem;
  }
  .our-story-headline {
    left: 51%;
    top: 32%;
    width: 19rem;
    height: 5rem;
    font-size: 4rem;
    justify-content: left;
    font-size: 4rem;
    padding-left: 1%;
  }

  .info-button-story {
    left: 35%;
    top: 74%;
  }
  .story-text {
    left: 55%;
    top: 41.5%;
    width: 33rem;
    padding: 2rem;
    height: 20rem;
    line-height: 1.5rem;
    position: absolute;
  }
}
