@media only screen and (min-width: 700px) {
  .contact-info {
    top: 4rem;
  }
  .contact-name {
    top: 6rem;
  }
  .contact-us {
    top: 70%;
    transform: none;
    left: 0%;
    margin-left: 5%;
  }
  .contact-image {
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .contact-fel {
    margin-top: 0%;
  }
  .contact-info {
    top: 10rem;
    margin-left: 10%;
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--font-regular);
    width: 25rem;
    height: 3rem;
  }
  .contact-name {
    top: 13rem;
    margin-left: 10%;
    font-size: 4rem;
    width: 16rem;
  }
  .contact-us {
    top: 70%;
    transform: none;
    left: 0%;
    margin-left: 10%;
    width: 17rem;
    height: 3rem;
    font-size: 2rem;
  }
}
