@media only screen and (min-width: 1024px) {
  .lab-section {
    margin: 0;
    right: 0;
  }
  .lab-image {
    width: 900px;
    margin-left: 37%;
  }

  .info-text-lab {
    left: 20%;
    top: 31%;
    width: 33rem;
    padding: 3rem 2.5rem 2rem 2.5rem;
    height: 20rem;
    position: absolute;
  }
  .lab-year {
    left: 15%;
    top: 16%;
    font-size: 3rem;
    width: 8rem;
    height: 3rem;
  }

  .lab-01 {
    left: 15%;
    top: 150px;
    background-color: var(--color-secondary);
    font-size: 4rem;
    width: 14rem;
  }
  .info-button {
    left: 36%;
    top: 425px;
    cursor: pointer;
  }
}
